@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');




body #imagemdefundo {
    margin: 0;
    height: 949px;
    width: 1229px;
    position: absolute;
    margin-left: 650px;
    z-index: -2;
 

}

body #background {
    position: absolute;
    z-index: -1;
    width: 1065px;
    height: 949px;
    left: 0px;
    top: 0px;
    background-color: #121214
}

body #logo {
    position: absolute;
    width: 500px;
    left: 91px;
    top: 40px;
    
}

body .texto {
    position: absolute;
    top: 280px;     
    left: 90px;
    font-family: work sans;
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 20px;
    width: 800px;
    color: white;
    font-size: 17px
   
}


body .texto #titulotexto{
    color: #08C05E;
    
}

body .formulario {
    position: absolute;
    top: 480px;
    left: 90px;
    display: inline;
    font-family: league spartan;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1300px;
}
body #label {
    display: block;
    color: #A8A8A8;
    font-weight: 400;
    font-size: 24px;
}
body #inputemail {
    font-size: 15px;
    padding: 20px;
    gap: 10px;
    border-left: solid 9px #08C05E;
    margin-right: 230px;

   
}

body #botaoenviar{
    background-color: #8257E5;
    height: 58px;
    width: 60px;
    position: absolute;
    left: 1070px;
    top: 52px;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;


}

body #lerprimeiro{
    color: #8257E5;
}